body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #002b36;
    color: #fdf6e3;
    font-family: 'Fira Mono', monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

a {
    color: #268bd2;
}

hr {
    border-top: dashed 1px;
    border-bottom: dashed 1px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#main-container {
    max-width: 500px;
}

#profile {
    text-align: center;
    gap: 10px;
}

#authorAvatar {
    width: 200px;
    border-radius: 25px;
}

.post {
    margin-top: 3rem;
}

.date_published {
    color: #839496;
    font-size: medium;
    margin-bottom: 0%;
}

.post_body {
    margin-top: 0.2rem;
}

.post_body img {
    max-width: 100%;
    height: auto;
  }